@font-face {
  font-family: "iconfont"; /* Project id 2782311 */
  src: url('./iconfont.woff2?t=1630893971748') format('woff2'),
       url('./iconfont.woff?t=1630893971748') format('woff'),
       url('./iconfont.ttf?t=1630893971748') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou1:before {
  content: "\e608";
}

.icon-sanhengxian:before {
  content: "\e606";
}

.icon-sanhengxian2:before {
  content: "\e607";
}

.icon-data-:before {
  content: "\e616";
}

.icon-shuibeng1:before {
  content: "\e604";
}

.icon-ZHicon-:before {
  content: "\e62e";
}

.icon-guanbi:before {
  content: "\e603";
}

.icon-shuibeng:before {
  content: "\e65d";
}

.icon-kongtiaojizu:before {
  content: "\e645";
}

.icon-fanhui:before {
  content: "\e61e";
}

.icon-baojing:before {
  content: "\e664";
}

.icon-tubiaoxian_tongyong_tongji:before {
  content: "\e697";
}

.icon-tongji:before {
  content: "\e7bc";
}

.icon-baobiaoguanli:before {
  content: "\e835";
}

.icon-history-search:before {
  content: "\e893";
}

.icon-dianfeidan:before {
  content: "\e601";
}

.icon-yongdianfenxi:before {
  content: "\e786";
}

.icon-shebeinenghaoguanli:before {
  content: "\e689";
}

.icon-baojingjilu:before {
  content: "\e605";
}

.icon-shut-down:before {
  content: "\e6a0";
}

.icon-shezhi1:before {
  content: "\e60f";
}

.icon-ren:before {
  content: "\e600";
}

.icon-shengchanxianlu:before {
  content: "\e614";
}

.icon-dianti:before {
  content: "\e6a1";
}

.icon-zhaoming:before {
  content: "\e6f4";
}

.icon-fengji:before {
  content: "\e64c";
}

.icon-lujing619:before {
  content: "\e602";
}

.icon-lengku:before {
  content: "\e66e";
}

.icon-lengqueta:before {
  content: "\e674";
}

.icon-lengdongshuibeng:before {
  content: "\e675";
}

